<div class="del01promotion-popup del01promotion-popup__theme1 del01promotion-popup__step1">
    <div class="del01promotion-popup__image">
        <img src="{{media url=promopopup/images/universal/popup/1.png}}" alt="" />
    </div>
    <div class="del01promotion-popup__content">
        <div class="del01promotion-popup__title">Ready for shopping?</div>
        <div class="del01promotion-popup__note">Get a promo code on your email!</div>
        <form class="form" id="cpp-form">
            <div class="del01promotion-popup__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>в
            <div  class="del01promotion-popup__actions">
                <button type="submit" class="action primary"><span>Subscribe</span></button>
            </div>
        </form>
    </div>
</div>
