<div class="del01promotion-popup del01promotion-popup__theme1 del01promotion-popup__step2">
    <div class="del01promotion-popup__image">
        <img src="{{media url=promopopup/images/universal/popup/1.png}}" alt="" />
    </div>
    <div class="del01promotion-popup__content">
        <div class="del01promotion-popup__title">Let's start shopping!</div>
        <div class="del01promotion-popup__note">Get <em>5% discount</em> for every purchase</div>
        <form class="form" id="cpp-form">
            <div class="del01promotion-popup__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>
            <div  class="del01promotion-popup__actions">
                <button type="submit" class="action primary"><span>Get My Discount</span></button>
            </div>
        </form>
    </div>
</div>
