<div class="del01promotion-popup del01promotion-popup__theme1 del01promotion-popup__step3">
    <div class="del01promotion-popup__image">
            <img src="{{media url=promopopup/images/universal/popup/1.png}}" alt="" />
        </div>
        <div class="del01promotion-popup__content">
            <div class="del01promotion-popup__title">Let's start shopping!</div>
            <div class="del01promotion-popup__note">Get a promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
</div>
